<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {
    title : "Carrito de compras"
  }) %>
  <body class="body__carr">
    <%- include('../partials/header') %>
    <main class="main__product">
     <!--<h2 class="titulo-principal">TU CARRITO</h2>
      <div class="div-carrito">
        <div class="products">
          <% products.forEach(product => { %>
          <article class="products__article">
            
            <a href="/products/detail/<%= product.id %>">
              
              <img
                src="/images/products/<%= product.images[0].name || 'Imagen_por_defecto.jpg'  %>" class="products__article__img"
                alt="<%= product.nombre %>"
              />
              <div class="products__article__info">
                <h2><%= product.name %></h2>
                <a href="" class="icons__products"><i class="fa-regular fa-circle-xmark" style="color: red; font-weight: bold;font-size: 1.2rem;"></i></a>
                <% if (product.discount) { %>
                  <p>Antes: $<%= product.price.toLocaleString('es') %></p>
                  <span>Ahora: $<%= (product.price*product.discount/100).toLocaleString('es') %></span>
                <% }else{ %>
                <span>$<%= product.price.toLocaleString('es') %></span>
                <% } %>
              </div>
               <div  class="select"><small>Cantidad</small>
                <select name="select">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                
              </div>
            </a>
          </article>
          <% }) %>
        </div> 
        <section class="section__pagos">
          <div class="section__pagos__datos">
            <a href="./"  class="codigo__de">
              <i class="fa-solid fa-arrow-left">Seguir comprando</i>
            </a>
            <div class="detalle__pedido">
              <h3>DETALLE DEL PEDIDO</h3>
            </div>
            <div class="div__total">
              <p><%= products.length %> Productos</p><span>$<%= total %></span>
            </div>
          <% if (total < 19999) { %>
              <div class="div__total">
                <p>Entrega</p><span><%= envio %></span>
              </div>
              <div class="div__total">
                <p>TOTAL</p><span>$<%= total + envio  %></span>
              </div>
          <% }else{%>
              <div class="div__total">
                <p>Entrega</p><span>Gratis</span>
              </div>
              <div class="div__total">
                <p>TOTAL</p><span>$<%= total%></span>
              </div>
          <%} %>   
           <a href="#" class="cod-promo"><i class="fa-solid fa-tag"> USA UN CODIGO PROMOCIONAL</i></a>
            <div class="button">
              <button class="button-pagar" type="button">IR A PAGAR<i class="fa-solid fa-arrow-right"></i></button>
            </div>
        
            <div class="envio-cambio">
              <p><i class="fa-solid fa-truck"></i> ENVIO GRATIS A PARTIR DE $19.999</p>
              <p><i class="fa-solid fa-right-left"></i> CAMBIOS GRATIS</p>
            </div>
          </div>
        </section>-->
      </div>
  <script src="/js/viewCart.js"></script>
  
  </main>
  <%- include('../partials/footer') %>
    </body>
  </html>