<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head', {
    title : "Todos los productos"
  }) %>

  <body class="list_products__body">
    <%- include('../partials/header') %>
    <main class="list_products__main">
      
      <div class="mt-5 text-white text-uppercase container">
        <% if (category) { %>
          <h3>categoria: <b><%= category %></b> </h3>
        <% }else{%>
          <h3>todos los productos </h3>

        <% } %>
        <hr>
      </div>

      <div class="home__products ">
        <% products.forEach(product => { %>
          <%- include('../partials/product',{
            product
          }) %>
  
        <% }) %>
       </div>
        

   
    </main>

	

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>