<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {
    title : "Detalle del Producto"
  }) %>
  <body class="productDetail__body">
     <%- include('../partials/header') %> 
    
    <main class="main--productDetail" >
      <section class="main__section--productDetail">
        <article>
        <div class="title--productDetail">
          <img class="icon--adidas" src="/images/adidas.png" alt="icon--adidas"/>
          <h3><%= product.name %></h3>
        </div>
      </article>
        <article class="main__section__article--productDetail">
          
           
            <div class="article--productDetail--imgFront">
             <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <% if(product.images.length > 0){ %>
        <% product.images.forEach(imagen => {%>
          <div class="swiper-slide">
            <img
                      src="/images/products/<%=imagen.name%>"
                      alt=""
                    />
            </div>
      
        <% }) %>
      <% }else{ %>
        <div class="swiper-slide">
          <img
                    src="/images/products/Imagen_por_defecto.jpg"
                    alt=""
                  />
          </div>  
      <% } %>
          </article>
<article class="productDetail__info" >
                
              <h3 class="price"> $ <%= product.price %></h3>
            <div class="main__section__article--productDetail--detail">
            <div class="article--productDetail--talles">
              <span>Talles</span>
              <div class="article--productDetail--sizes">
                <a>S</a>
                <a>M</a>
                <a>L</a>
                <a>XL</>
                <a>XXL</a>
              </div>
            </div>
          </div>
        <div class="botton">
            <button class="car--btn" type="submit"><a href="/cart">añadir al carrito</a></button>
            <div class="box--total">            
              <small>cantidad</small>
              <p>1</p>
            </div>
          </div>
        <div class="main__section--productDetail--description">
            <h3>acerca del producto</h3>
            <div>
              <p class="description__product"> <%= product.description %> </p>
            </div>
          </div>
          </article>
        
      </section>  
    </main>
    <%- include('../partials/footer') %>
   <!-- Swiper JS -->
   <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

   <!-- Initialize Swiper -->
   <script>
     var swiper = new Swiper(".mySwiper", {
       effect: "coverflow",
       grabCursor: true,
       centeredSlides: true,
       slidesPerView: "auto",
       coverflowEffect: {
         rotate: 50,
         stretch: 0,
         depth: 100,
         modifier: 1,
         slideShadows: true,
       },
       pagination: {
         el: ".swiper-pagination",
       },
     });
   </script>
  
  
  </body>
</html>
