<!DOCTYPE html>
<html lang="ES">

<%- include('../partials/head', { title : 'Editar' }) %>

  <body class="dashboard">

    <%- include('../partials/headerAdmin') %>

      <main class="container">
        <section class="row my-5">
          <div class="col-12 col-md-10 mx-auto">
            <div class="card">
              <div class="card-header d-flex justify-content-between">
                <nav
                  style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                  aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/admin" class="text-primary">Inicio</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Editando "<%= product.nombre %>"</li>
                  </ol>
                </nav>
              </div>
              <div class="card-body">

                <form id="editproductForm" action="/products/update/<%= product.id %>?_method=PUT" class="row" method="POST"
                  enctype="multipart/form-data">
                  <h4> Editando <%= product.name %>
                  </h4>
                  <hr>

                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                      <input name="nombre" type="text" class="form-control" id="nombre" value="<%= product.name %>">
                      <label for="nombre">Nombre</label>
                    </div>
                    <small class="text-danger">
                      <%=locals.errors && errors.nombre ? errors.nombre.msg : null %>
                    </small>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                      <select name="categoria" class="form-select" id="categoria"
                        aria-label="Floating label select example">
                        <option value="" selected hidden></option>
                        <% categorias.forEach(categoria=> { %>
                          <option value="<%= categoria.id %>" <%=categoria.id==product.category_id ? "selected" : null
                            %>>
                            <%= categoria.name %>
                          </option>
                          <% }) %>
                      </select>
                      <small class="text-danger">
                        <%=locals.errors && errors.categorias ? errors.categorias.msg : null %>
                      </small>
                      <label for="categoria">Categoria</label>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                      <select name="subcategoria" class="form-select" id="subcategoria"
                        aria-label="Floating label select example">
                        <option value="" selected hidden></option>
                        <% subcategorias.forEach(subcategorie=> { %>
                          <option value="<%= subcategorie.id %>" <%=subcategorie.id==product.subcategorie_id ? "selected" : null
                            %>>
                            <%= subcategorie.name %>
                          </option>
                          <% }) %>
                      </select>

                      <label for="subcategoria">Subcategoria</label>

                    </div>
                    <small class="text-danger">
                      <%=locals.errors && errors.subcategoria ? errors.subcategoria.msg : null %>
                    </small>
                  </div>
                  
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                      <select name="section" class="form-select" id="section" aria-label="Floating label select example">
                        <option value="" selected hidden></option>
                        <% sections.forEach(section=> { %>
                          <option value="<%= section.id %>" <%=section.id==product.section_id ? "selected" : null %>>
                            <%= section.name %>
                          </option>
                          <% }) %>
                      </select>
                      <label for="categoria">Sección</label>
                    </div>
                    <small class="text-danger">
                      <%=locals.errors && errors.section ? errors.section.msg : null %>
                    </small>
                  </div>
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                      <select name="marca" class="form-select" id="marca" aria-label="Floating label select example">
                        <option value="" selected hidden></option>
                        <% marcas.forEach(marca=> { %>
                          <option value="<%= marca.id %>" <%=marca.id==product.brand_id ? "selected" : null %>>
                            <%= marca.name %>
                          </option>
                          <% }) %>
                      </select>

                      <label for="categoria">Marca</label>
                    </div>
                    <small class="text-danger">
                      <%=locals.errors && errors.marcas ? errors.marcas.msg : null %>
                    </small>
                  </div>
                  
                  <div class="col-12 col-md-6 mb-3">
                    <div class="form-floating">
                      <select name="color" class="form-select" id="color" aria-label="Floating label select example">
                        <option value="" selected hidden></option>
                        <% colores.forEach(colores=> { %>
                          <option value="<%= colores.id %>" <%=colores.id==product.color_id ? "selected" : null %>>
                            <%= colores.name %>
                          </option>
                          <% }) %>
                      </select>
                      <small class="text-danger">
                        <%=locals.errors && errors.colores ? errors.colores.msg : null %>
                      </small>
                      <label for="colores">Color</label>
                    </div>
                  </div>
                  <div class="col-6 col-md-3 mb-3">
                    <div class="form-floating">
                      <input
                        class="form-control <%= locals.errors && errors.stock ? ' is-invalid' : locals.old && old.stock ? 'is-valid' : '' %>"
                        type="text" name="stock"
                        value="<%= locals.old && old.stock ? old.stock : 0 %>" />

                      <label for="descuento">stock</label>
                    </div>
                    <small class="text-danger">
                      <%=locals.errors && errors.stock ? errors.stock.msg : null %>
                    </small>
                  </div>

                  <div class="col-6  col-md-3 mb-3 ">
                    <div class="form-floating">
                      <input name="precio" type="text" class="form-control " id="precio"
                        value="<%= product.price %>">
                      <label for="precio">Precio</label>
                    </div>
                    <small class="text-danger">
                      <%=locals.errors && errors.price ? errors.price.msg : null %>
                    </small>
                  </div>

                  <div class="col-6  col-md-3 mb-3">
                    <div class="form-floating">
                      <input name="descuento" type="text" class="form-control " id="descuento"
                        value="<%= product.discount %>">
                      <label for="descuento">Descuento</label>
                    </div>
                    <small class="text-danger">
                      <%=locals.errors && errors.discount ? errors.discount.msg : null %>
                    </small>
                  </div>

                  <div class="col-12 mb-3">
                    <div class="form-floating">
                      <textarea name="detalleProducto" class="form-control" id="detalleProducto"
                        style="height: 150px;"> <%= product.description %> </textarea>
                      <label for="detalleProducto">Descripción</label>
                    </div>
                    <small class="text-danger">
                      <%=locals.errors && errors.description ? errors.description.msg : null %>
                    </small>
                  </div>
                  <div class="col-12 mb-3 px-4">
                    <div class="d-flex">
                      <label for="" class="form-label">Talles:</label>

                      <% talles.forEach(t => { %>
                        <div class="form-check" >
                          <input class="form-check-input-lg" name="talles" type="checkbox" <%=  productSizes.map(ps => ps.size_id).includes(t.id) && 'checked'%> value="<%= t.id %>" id="<%= t.name %>">
                          <label class="form-check-label" for="<%= t.id + t.name %>">
                            <%= t.name %>
                          </label>
                        </div>
                      <% }) %>
                    </div>    
                    <small class="text-danger">
                      <%=locals.errors && errors.talles ? errors.talles.msg : null %>
                    </small>                  
                  </div>    

                  <div class="col-12 mb-3 p-4">
                    <label for="" class="form-label">Imágenes:</label>

                    <div class="row border rounded p-3" id="box-images">
                      <% for(let i = 0; i < 4; i++) { %>
                      <div class="col-12 col-md-6 col-lg-3 d-flex align-items-center position-relative" style="height: 250px" >
                        <% if (product.images[i]) { %>
                            <img class="img-fluid"  src="/images/products/<%= product.images[i].name %>" alt="<%= product.images[i].name %>">
                            <button onclick="removeImage('<%= product.images[i].id%>', '<%=product.id%>')" type="button" class="btn btn-danger position-absolute bottom-0 end-0"><i class="fa-solid fa-trash-can"></i></button>
                        <% }else{ %>
                          <div class="d-flex justify-content-center align-items-center" style="height: 100px; width: 200px;">
                            <input type="file" hidden id="image<%= i %>" onchange="addImage(event,'<%=product.id%>')"/>
                            <label for="image<%= i %>" class="btn btn-sm btn-outline-dark"><i class="fa-solid fa-plus"></i> Agregar</label>
                          </div>
                        <% } %>
                      </div>
                        <% } %>
                    </div>
                  </div>

                  <div class="col-12 d-flex justify-content-end">
                   
                    <small class="text-danger">
                      <%=locals.errors && errors.image ? errors.image.msg : null %>
                    </small>
                    <button class="btn btn-lg btn-primary">Guardar cambios</l>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </section>
      </main>



<script src="/js/productEdit.js"></script>
  </body>

</html>