<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {
    title : "Detalle del Producto"
  }) %>
  <body>
     <%- include('../partials/header') %> 
    
    <main class="main--productDetail" >
      <section class="main__section--productDetail">
        
        <div class="title--productDetail">
          <img
            class="icon--adidas"
            src="/images/adidas.png"
            alt="icon--adidas"
          />
          <h3><%= product.nombre %></h3>
        </div>
        <article class="main__section__article--productDetail">
          <div class="article--productDetail--img">
            <div class="article--productDetail--imgBack">
              <img
                src="/images/<%= product.imageBack %>"
                alt="camisetaBocaHombre"
              />
            </div>
            <div class="article--productDetail--imgFront">
              <img
                src="/images/<%= product.image %>"
                alt="camisetaBocaHombre"
              />
              <h3> $ <%= product.precio %></h3>
            </div>
           
          </div>

          <div class="main__section__article--productDetail--detail">
            <div class="article--productDetail--talles">
              <p>Talles</p>
              <div class="article--productDetail--sizes">
                <p>S</p>
                <p>M</p>
                <p>L</p>
                <p>XL</p>
                <p>XXL</p>
              </div>
            </div>
          </div>
        </article>

        <article>
          <div class="botton">
            <button class="car--btn" type="submit"><a href="/cart">añadir al carrito</a></button>
            <div class="box--total">            
              <small>cantidad</small>
              <p>1</p>
            </div>
          </div>
  
          <article class="main__section--productDetail--description">
            <h3>acerca del producto</h3>
            <div>
              <p> <%= product.detalleProducto %> </p>
            </div>
          </article>
        </article>
      </section>  
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
