<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {
    title : "Detalle del Producto"
  }) %>
  <body class="productDetail__body">
     <%- include('../partials/header') %> 
    
    <main class="main--productDetail" >
      <section class="main__section--productDetail">
        <article>
        <div class="title--productDetail">
          <img class="icon--adidas" src="/images/adidas.png" alt="icon--adidas"/>
          <h3><%= product.name %></h3>
        </div>
      </article>
        <article class="main__section__article--productDetail">
          <div class="article--productDetail--img">
           
            <div class="article--productDetail--imgFront">
              <img
                src="/images/products/<%=product.images.length > 0 ? product.images[0].name : 'Imagen_por_defecto.jpg'  %>"
                alt=""
              />
            </div>
          </article>
<article class="productDetail__info" >
                
              <h3 class="price"> $ <%= product.price %></h3>
            <div class="main__section__article--productDetail--detail">
            <div class="article--productDetail--talles">
              <span>Talles</span>
              <div class="article--productDetail--sizes">
                
                <a href="#">S</a>
                <a href="#">M</a>
                <a href="#">L</a>
                <a href="#">XL</a>
                <a href="#">XXL</a>
              </div>
            </div>
          </div>
        <div class="botton">
            <button class="car--btn" type="submit"><a href="/cart">añadir al carrito</a></button>
            <div class="box--total">            
              <small>cantidad</small>
            <div class="box--cantidad">
              <a href="#" id="decrementProd">-</a>
              <p id="cantidadProd">1</p>
              <a href="#" id="incrementoProd">+</a>
            </div>
            </div>
          </div>
        <div class="main__section--productDetail--description">
            <h3>acerca del producto</h3>
            <div>
              <p class="description__product"> <%= product.description %> </p>
            </div>
          </div>
          </article>
        
      </section>  
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/detail.js"></script>
  </body>
</html>
