<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', {
    title : "SportFit"
  }) %>

  <body class="home">
    <%- include('./partials/header') %>
    <main class="main__home">
      
    <div class="swiper bannerSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide banner-slide"><img src="/images/banner1.jpg" alt=""></div>
        <div class="swiper-slide banner-slide"><img src="/images/banner2.jpg" alt=""></div>
        <div class="swiper-slide banner-slide"><img src="/images/banner3.jpg" alt=""></div>
        <div class="swiper-slide banner-slide"><img src="/images/banner4.jpg" alt=""></div>
        <div class="swiper-slide banner-slide"><img src="/images/banner5.jpg" alt=""></div>
      </div>
    </div>
      

      <div class="swiper home__swiper">
        <div class="swiper-wrapper">
          <% brands.forEach(b => { %>
            <div class="swiper-slide home__swiper-slide">
              <a href="#">
                <img src="/images/marcas/<%= b.image %>"  alt="...">
              </a>
            </div>
          <% }) %>
        </div>
      </div>
      <div class="mt-5 text-white text-uppercase container">
        <h3 >Ultimos lanzamientos</h3>
        <hr>
      </div>
     
      <div class="home__products ">

      <% products.filter(p => p.section_id == 1).forEach(product => { %>
        <% if (product) { %>
          <%- include('./partials/product',{
            product
          }) %>
        <% } %>
      

      <% }) %>
      </div>
      <div class="mt-5 text-white text-uppercase container">
        <h3 >PRODUCTOS DESTACADOS</h3>
        <hr>
      </div>
      <div class="home__products ">

     
      <% products.filter(p => p.section_id == 2).forEach(product => { %>
        <% if (product) { %>
          <%- include('./partials/product',{
            product
          }) %>
        <% } %>

      <% }) %>
    </div>
    <div class="mt-5 text-white text-uppercase container">
      <h3 >ofertas imperdibles</h3>
      <hr>
    </div>
    <div class="home__products ">
     
      <% products.filter(p => p.section_id == 3).forEach(product => { %>
        <% if (product) { %>
          <%- include('./partials/product',{
            product
          }) %>
        <% } %>

      <% }) %>
     </div>
    

     

    </main>

    <!--<%- include('./partials/scripts') %> -->

    <%- include('./partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
     <script>
    var swiper = new Swiper(".home__swiper", {
      slidesPerView: 2,
      spaceBetween: 10,
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 30,
        },
      },
      autoplay: {
        delay: 1500,
        disableOnInteraction: false,
      },
    });
  </script>
    <!-- Initialize Swiper -->
  <script>
    var swiper2 = new Swiper(".bannerSwiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      autoplay: {
        delay: 1500,
        disableOnInteraction: false,
      }
    });
  </script>
  </body>
</html>
