<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', {
    title : "SportFit"
  }) %>

  <body class="home">
    <%- include('./partials/header') %>
    <main class="main__home">
      
      
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="background-image: url('/images/banner1.jpg'); background-size: 100% cover; height: 350px;background-repeat: no-repeat; background-position: center;">
          </div>
          <div class="carousel-item" style="background-image: url('/images/banner2.jpg'); background-size: 100% cover; height: 350px;background-repeat: no-repeat; background-position: center;">
          </div>
          <div class="carousel-item" style="background-image: url('/images/banner3.jpg'); background-size: 100% cover; height: 350px;background-repeat: no-repeat; background-position: center;">
          </div>
          <div class="carousel-item" style="background-image: url('/images/banner4.jpg'); background-size: 100% cover; height: 350px;background-repeat: no-repeat; background-position: center;">
          </div>
          <div class="carousel-item" style="background-image: url('/images/banner5.jpg'); background-size: 100% cover; height: 350px;background-repeat: no-repeat; background-position: center;">
          </div>
        </div>
      </div>

      <div class="swiper home__swiper">
        <div class="swiper-wrapper">
          <% brands.forEach(b => { %>
            <div class="swiper-slide">
              <a href="#">
                <img src="/images/marcas/<%= b.image %>"  alt="...">
              </a>
            </div>
          <% }) %>
        </div>
      </div>
     

      <%- include('./partials/products') %>
     

    </main>

    <!--<%- include('./partials/scripts') %> -->

    <%- include('./partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
     <script>
    var swiper = new Swiper(".home__swiper", {
      slidesPerView: 2,
      spaceBetween: 10,
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 30,
        },
      },
      autoplay: {
        delay: 1500,
        disableOnInteraction: false,
      },
    });
  </script>
    
    </script>
  </body>
</html>
