<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head', {
    title : "SportFit"
  }) %>

  <body class="home">
    <%- include('./partials/header') %>
    <main class="main__home">
      
      <% if (products.length) { %>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="background-image: url('/images/banner1.jpg'); background-size: 100% cover; height: 350px;background-repeat: no-repeat; background-position: center;">
          </div>
          <div class="carousel-item" style="background-image: url('/images/banner2.jpg'); background-size: 100% cover; height: 350px;background-repeat: no-repeat; background-position: center;">
          </div>
          <div class="carousel-item" style="background-image: url('/images/banner3.jpg'); background-size: 100% cover; height: 350px;background-repeat: no-repeat; background-position: center;">
          </div>
          <div class="carousel-item" style="background-image: url('/images/banner4.jpg'); background-size: 100% cover; height: 350px;background-repeat: no-repeat; background-position: center;">
          </div>
          <div class="carousel-item" style="background-image: url('/images/banner5.jpg'); background-size: 100% cover; height: 350px;background-repeat: no-repeat; background-position: center;">
          </div>
        </div>
      </div>

      <div class="swiper home__swiper">
        <div class="swiper-wrapper">
          <% brands.forEach(b => { %>
            <div class="swiper-slide home__swiper-slide">
              <a href="#">
                <img src="/images/marcas/<%= b.image %>"  alt="...">
              </a>
            </div>
          <% }) %>
        </div>
      </div>
     

       <div class="home__products">
        <% products.forEach(product => { %>
        <article class="home__article ">
          <a href="/products/detail/<%= product.id %>">
            <img
              src="/images/products/<%= product.images.length > 0 ? product.images[0].name : 'Imagen_por_defecto.jpg'  %>"
              alt="<%= product.name %>"
            />
            <div class="home__article__info box">
              <h2><%= product.name %></h2>
             
              <% if (product.discount) { %>
                <p>Antes: $<%= product.price %></p>
                <span>Ahora: $<%= product.price*product.discount/100 %></span>
              <% }else{ %>
              <span>$<%= product.price.toFixed(0) %></span>
              <% } %>
            </div>
          </a>
        </article>
        <% }) %>
      </div>
      <% } else { %>
        <div class="alert alert-light" role="alert">
          Producto no encontrado, intente con otra busqueda        
        </div>
<% }%>
     

    </main>

    <!--<%- include('./partials/scripts') %> -->

    <%- include('./partials/footer') %>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
     <script>
    var swiper = new Swiper(".home__swiper", {
      slidesPerView: 2,
      spaceBetween: 10,
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 4,
          spaceBetween: 20,
        },
        1024: {
          slidesPerView: 5,
          spaceBetween: 30,
        },
      },
      autoplay: {
        delay: 1500,
        disableOnInteraction: false,
      },
    });
  </script>
    
  </body>
</html>
