
<!-- Modal -->
<div class="modal fade" id="exampleModal<%= id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  
  <div class="modal-dialog modal-dialog-centered modal-lg">
   
    <div class="modal-content">
      
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Detalle</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="row">

          <div class="col-12 col-lg-4 mb-3">
            <img src="/images/<%= image %>" class="img-fluid" alt="">
          </div>

          <div class="col-12 col-lg-8">
            <ul class="list-group">
              <li class="list-group-item"><b>Nombre: </b> <%= nombre %> </li>
              <li class="list-group-item"> <b>Precio: </b>  $<%= precio %></li>
              <li class="list-group-item"><b>Categoria: </b> <%= categoria %></li>
              <li class="list-group-item"><b>Descripcion: </b> <%= descripcion %></li>
            </ul>
            
          </div>

        </div>
      </div>
      
    </div>

  </div>

</div>