
<!-- Modal -->
<div class="modal fade" id="exampleModal<%= id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  
  <div class="modal-dialog modal-dialog-centered modal-lg">
   
    <div class="modal-content">
      
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> <%= nombre %> </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <div class="row">

          <div class="col-14 col-lg-4 mb-3 align-items-center" >
            <div class="row  d-flex align-items-center justify-content-center">
              <div class="col-8">
                <img src="images/<%= image || 'Imagen_por_defecto.jpg' %>" class="img-fluid" alt="">
              </div>
              <hr>
              <div class="col-8">
                <img src="images/<%= imageBack || 'Imagen_por_defecto.jpg' %>" class="img-fluid" alt="">
              </div>
            </div>     
          </div>
          
          <div class="col-12 col-lg-8">
            <ul class="list-group">          
              <li class="list-group-item"><b>Precio: </b>$<%= precio %></li>
              <li class="list-group-item"><b>Categoria: </b><%= categoria %></li>         
              <li class="list-group-item"> <b>Talles: </b><%= talles %></li>
              <li class="list-group-item"><b>Descuento: </b><%= descuento || "0" %>%</li>
              <li class="list-group-item"><b>Descripcion: </b><%= detalleProducto %></li>
            </ul>
            
          </div>

        </div>
      </div>
      
    </div>

  </div>

</div>