        <article class="home__article ">
          <a href="/products/detail/<%= product.id %>">
            <img
              src="/images/products/<%= product.images.length > 0 ? product.images[0].name : 'Imagen_por_defecto.jpg'  %>"
              alt="<%= product.name %>"
            />
            <div class="home__article__info box">
              <h2><%= product.name %></h2>
             
              <% if (product.discount) { %>
                <p>Antes: $<%= product.price.toLocaleString('es') %></p>
                <span>Ahora: $<%= (product.price-(product.price*product.discount/100)).toLocaleString('es') %></span>
              <% }else{ %>
              <span>$<%= product.price.toLocaleString('es') %></span>
              <% } %>
            </div>
          </a>
        </article>
    