
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="login__body__main">
      <section style="width: 50%;" class="login__body__main__section">
        <div class="login__body__main__section--bienvenido">
            <h1>Incerte la nueva contrase単a</h1>
          <hr>
        </div>
        <form id="loginForm" action="" method="POST">
          <div class="login__box">
            <div class="register__group">
                <label class="register__label"  for="password" >Contrase単a </i></label>
                <input style="outline: none;" id="input_password"  class="register__input <%= locals.errors && errors.password ? "register-control is-invalid" : null %>" type="password"  name="password">
                <small class="text-danger"><%=locals.errors && errors.password ? errors.password.msg : null %> </small>
              </div>
    
              <div class="register__group">
                <label  class="register__label"  for="password2" >Confirma tu contrase単a </label>
                <input style="outline: none;" id="input_password2" class="register__input <%= locals.errors && errors.password2 ? "form-control is-invalid" : null %>" type="password" name="password2">
                <small class="text-danger"><%=locals.errors && errors.password2 ? errors.password2.msg : null %> </small>
              </div>

          <div class="container--boton">
            <button class="boton" type="submit">Iniciar Sesion</button>
          </div>
         
          <div class="opciones__login--register">
            <p>多No tienes cuenta?</p>
            <a href="register"><p>Registrate</p></a>
          </div>
        
        </form>
      </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/login.js"></script>
  </body>
</html>