<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    
    <main class="profile__main">
      <section class ="profile__main__section">
        
        <div class="profile__main__section--perfildelusuario"> 
          <h2>perfil del usuario</h2>
        </div>

        </div>
        <form action="/users/perfil/<%= user.id %>?_method=PUT" method="POST"  enctype="multipart/form-data"  class="profile__form--conteiner" >
          
          <div class="form__group">
            <label  class="form__label" for="name" >Nombre</label>
            <input class="profile__input " type="text" name="name" value="<%= locals.usuario && usuario.name ? usuario.name : locals.old ? old.name : null %>">         
            <small class="text-danger"><%=locals.errors && errors.name ? errors.name.msg : null %></small>
          </div>

          <div class="form__group">
            <label class="form__label"  for="surname" >Apellido</label>
            <input class="profile__input " type="text" name="surname" value="<%= locals.usuario && usuario.surname ? usuario.surname : locals.old ? old.surname : null %>" >
            <small class="text-danger"><%=locals.errors && errors.surname ? errors.surname.msg : null %></small>
          </div>

          <div class="form__group">
            <label class="form__label" for="email" >Email <i class="fa-solid fa-envelope email icons icons__email__profile " ></i></label>
            <input id = "input_email" class="profile__input " type= "email" name="email" value="<%= locals.usuario && usuario.email ? usuario.email : locals.old ? old.email : null %>">
            <small class="text-danger"><%=locals.errors && errors.email ? errors.email.msg : null %></small>
          </div>
          
          <div class="form__group">
            <label class="form__label"  for="direccion">direccion</label>
            <input id="input_direccion"  class="profile__input " type="direccion"  name="adress" value="<%= locals.usuario && usuario.address.length >= 1 ? usuario.address[0].address : locals.old ? old.address : null %>">
            
          </div>

          <div class="form__group">
            <label class="form__label"  for="provincia">Provincia</label>
            <input id="input_provincia" class="profile__input " type="provincia" name="state" value="<%= locals.usuario && usuario.address.length >= 1 ? usuario.address[0].city : locals.old ? old.state : null %>">
            
          </div>
          <div class="form__group">
            <label class="form__label"  for="barrio">Barrio</label>
            <input id="input_barrio" class="profile__input " type="barrio" name="district" value="<%= locals.usuario && usuario.address.length >= 1 ? usuario.address[0].province : locals.old ? old.district : null %>">
            </div>
          <div class="form__group">
            <label class="form__label"  for="telefono" >Telefono</label>
            <input id="input_telefono" class="profile__input " type="telefono" name="phone" value="<%= locals.usuario && usuario.phone ? usuario.phone : locals.old ? old.phone : null %>">
            </div>

          <div class="form__botton">
            <button class="profile--btn" type="submit">Actualizar</button>
          </div> 
</div>
           
          
        </form>
        
      </section>
</main>

    <%- include('../partials/footer') %>
  </body>
</html>