
<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <main class="login__body__main">
      <section style="width: 50%;" class="login__body__main__section">
        <div class="login__body__main__section--bienvenido">
            <h1>Ingrese e-mail</h1>
          <hr>
        </div>
        <form id="loginForm" action="" method="POST">
          <div class="login__box">
            <div class="register__group">
                <label class="register__label"  for="email" >Email </i></label>
                <input style="outline: none;" id="input_password"  class="register__input <%= locals.errors && errors.password ? "register-control is-invalid" : null %>" type="password"  name="password">
                <small class="text-danger"><%=locals.errors && errors.password ? errors.password.msg : null %> </small>
              </div>
    
             

          <div class="container--boton">
            <button class="boton" type="submit">Enviar</button>
          </div>
         
   
        
        </form>
      </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/login.js"></script>
  </body>
</html>